elsarticle-template-num_simon_20180201.synctex.gz
build/elsarticle-template-num_simon_20180201.aux
build/elsarticle-template-num_simon_20180201.fdb_latexmk
build/elsarticle-template-num_simon_20180201.fls
build/elsarticle-template-num_simon_20180201.log
build/elsarticle-template-num_simon_20180201.spl
